.footer__copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 94%;
    text-align: right;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width: 680px){
    .footer__copyright{
      text-align: left;
    }
  }