.cover__background{
    background-image: url(../../../images/cover-trains.jpg);
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    text-decoration: none;
  }

  .cover__background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    text-decoration: none;
  }
  
  .cover__background:hover::before{
    background-color: #2A2C2F;
    opacity: 0.8;
    text-decoration: none;
  }

  @media screen and (max-width: 1024px){
    .cover__background{
      width: 110%;
    }
  }

  @media screen and (max-width: 768px){
    .cover__background{
      width: 100%;
    }
  }

  @media screen and (max-width: 506px){
    .cover__background{
      max-height: 300px;
    }
  }

  @media screen and (max-width: 320px){
    .cover__background{
      max-height: 200px;
    }
  }