.place{
    margin: 0 0 80px;
    padding: 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    row-gap: 48px;
  }

  .place:last-child{
    margin: 0;
  }

  @media screen and (max-width: 1024px){
    .place{
      grid-template-columns: 440px 1fr;
      column-gap: 32px;
    }
  }

  @media screen and (max-width: 900px){
    .place{
      margin: 0 0 73px;
      grid-template-columns: 340px 1fr;
      column-gap: 28px;
      row-gap: 48px;
    }
  }

  @media screen and (max-width: 680px){
    .place{
      margin: 0 0 50px;
      grid-template-columns: 1fr;
      grid-template-rows: 4fr;
      row-gap: 32px;
    }
  }