.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto 24px;
    padding: 0;
  }

  @media screen and (max-width: 768px){
    .footer{
      padding: 0 24px 0;
    }
  }

  @media screen and (max-width: 608px){
    .footer{
      padding: 0 16px 0;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 48px;
    }
  }